.billing_box {
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    opacity: 0;
  }
}

.heading-row,
.product-details-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 0.5fr;
  justify-content: space-between;
  gap: 1.25rem; /* Adjust the gap value based on your design */
}

.product-details-col {
  display: none;
}

.genBill__Btn button,
.add__Btn button {
  width: 100%;
  padding: 10px 18px;
  color: #fff;
  background: #8d8d8d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
}

.genBill__Btn button:hover,
.add__Btn button:hover {
  background-color: rgb(100, 100, 100);
}

.side_nav {
  position: fixed;
  top: 0;
  left: 0; /* Start from the left */
  width: 0; /* Initially hidden width */
  height: 100%;
  background-color: #383838;
  transition: width 0.3s ease; /* Smooth transition effect */
  z-index: 1;
  overflow-x: hidden;
}

.side_nav.open {
  width: 90%; /* Expanded width when the .open class is present */
}

@media screen and (max-width: 768px) {
  .heading-row,
  .product-details-row {
    display: none;
  }
  .product-details-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .product-details-col > div {
    width: 100%; /* Full width for each product detail */
  }
}
