.products_con {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.upload_con {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 10%;
}
.upload_button {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.products_table {
  width: 100%;
  height: 90%;
  background-color: white;
  border-radius: 5px;
}

DataGrid{
  height: 100%;
}

.side_nav {
  position: fixed;
  top: 0;
  left: 0; /* Start from the left */
  width: 0; /* Initially hidden width */
  height: 100%;
  background-color: #383838;
  transition: width 0.3s ease; /* Smooth transition effect */
  z-index: 1;
  overflow-x: hidden;
}

.side_nav.open {
  width: 90%; /* Expanded width when the .open class is present */
}