.sideNav_con {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Routes_con {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sideNav_con .categories_con {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.sideNav_con .categories_con .category,
.sideNav_con .logout_con {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.sideNav_con .categories_con .category img,
.logout_con img {
  width: 20px;
  height: 20px;
}

.sideNav_con .logout_con {
  gap: 80px;
}

.category:hover {
  background-color: gray;
}

.logout_con:hover {
  background-color: gray;
  border-radius: 5px;
}
